{% extends 'base.html.twig' %}

{% block title %}Les citoyens s'expriment - Association Arcades13127 - Vitrolles{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock%}

    {% block main %}
        {{ parent() }}
        <div class="index-content">
            <div class="container">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4">
                            <div class="card">
                                <h5>{{ article.titre }}</h5>
                                <p>{{ article.description| raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}




